body ,.wrapper, .main h1{
    margin: initial;
}
.header p, .main p {
    padding: initial;
    margin: 0;
}
/* 초기화 */

body {
    background-color: #FAFAFA !important;
}
.wrapper {
    background-color: white;
    width: 570px;
    margin: 100px auto;
    border-radius: 10px;
    overflow: hidden;
}
header {
    margin: 0px 75px;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none; 
}
.logo {
    margin: 50px 0;
}
.logo p {
    font-size: 20px;
    font-weight: bold;
}
main {
    margin: 0px 75px;
}
.maintext h1 {
    margin: 10px 0;
}
.maintext p {
    font-size: 14px;
}
.main .input {
    margin: 40px 0;
}
.main input, .btn button {
    border: 1px solid #D4D4D4;
    color: #D4D4D4;
    border-radius: 10px;
    display: block;
    width: 380px;
    padding: 20px;
    margin: 15px 0;
    cursor: auto;
}
.main .btn button{
    padding: 15px 20px;
    width: 420px;
    cursor: pointer;
}
.btn .login-btn {
    background-color: #E67800;
    color: white;
}
.btn .join-btn {
    background-color: white;
    border: 1px solid #E67800;
    color: #E67800;
}
footer {
    margin: 0 75px;
    text-align: center;
    color: #737373;
    padding-bottom: 30px;
}
footer a {
    font-size: 13px;
    color: #737373;
    display: inline-block;
    margin: 40px 10px;
}